<form [formGroup]="form" novalidate fxLayout="row" fxLayoutAlign="center center">
  <mat-form-field fxFlex class="mr1">
    <mat-label>Insira uma Tarefa</mat-label>
    <input matInput formControlName="nomeTarefa" placeholder="Ex. ir ao mercado">
    <mat-error *ngIf="form.get('nomeTarefa').touched || form.get('nomeTarefa').dirty">
      Insira pelo menos 3 caracteres
    </mat-error>
    <button matSuffix mat-icon-button color="primary" (click)="adicionarTarefa()"
      [disabled]="!form.valid || form.pristine">
      <mat-icon>add</mat-icon>
    </button>
  </mat-form-field>
</form>
