<mat-toolbar fxLayout="row" fxLayoutAlign="start center">
    <mat-toolbar-row fxFlex>
        <mat-icon color="primary">done</mat-icon>
        <a [routerLink]="['/home']">
            <h1 class="mat-headline">My To-do</h1>
        </a>
    </mat-toolbar-row>
    <mat-toolbar-row fxFlex="60" fxLayoutAlign="center center" *ngIf="pesquisa">
        <app-pesquisa-input fxFlex="50" (keyup)="routearParaPesquisa()"></app-pesquisa-input>
        <br>
    </mat-toolbar-row>

    <mat-toolbar-row fxFlex fxLayoutAlign="end center">
        <button mat-icon-button type="button" (click)="togglePesquisa()">
            <mat-icon>search</mat-icon>
        </button>
        <nav class="pr2">
            <button mat-button color="primary" routerLink="/sobre"><strong> Sobre</strong></button>
        </nav>
        <button mat-fab [matMenuTriggerFor]="menu" class="avatar">
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Minha Conta</button>
            <button mat-menu-item (click)="sair()">Sair</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
