<mat-toolbar fxLayout="row" fxLayoutAlign="start center">
    <mat-toolbar-row fxFlex class="mobile-row">
        <mat-icon color="primary" [routerLink]="['/home']">done</mat-icon>
        <a [routerLink]="['/home']">
            <h1 class="mat-headline" [ngClass.xs]="{ 'ml3': false}">My To-do</h1>
        </a>
    </mat-toolbar-row>
    <mat-toolbar-row fxFlex="60" fxLayoutAlign="center center" *ngIf="pesquisa" fxHide.xs="true">
        <app-pesquisa-input fxFlex="50" fxFlex.xs="100" (keyup)="routearParaPesquisa()"></app-pesquisa-input>
        <br>
    </mat-toolbar-row>

    <mat-toolbar-row fxFlex fxLayoutAlign="end center">
        <div class="pr2">
            <button mat-icon-button type="button" (click)="togglePesquisa()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        <button mat-fab [matMenuTriggerFor]="menu" class="avatar">
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Minha Conta</button>
            <button mat-menu-item (click)="sair()">Sair</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="pesquisa" fxShow.xs="true" class="pesquisa-mobile">
        <app-pesquisa-input fxFlex="90" class="py2" (keyup)="routearParaPesquisa()"></app-pesquisa-input>
    </div>
