<div fxLayout="row" fxLayoutAlign="center center" class="py4">
  <mat-card fxFlex.md="80%" fxFlex.lg="50%">
    <mat-card-title class="center mat-h1 bold p2">Sobre o My To-do</mat-card-title>
    <mat-card-content class="px3 pb3">
      <p class="center pb3">
        Criei este projeto para aplicar meus conhecimento obtidos na programação front-end. <br>
        💡 A idéia foi criar um to-do list simples em Angular, utilizando Material Design!😉
      </p>
      <h2>📌O My To-do é composto:</h2>
      <ul>
        <li>Angular 9;</li>
        <li>Material Design;</li>
        <li>Json Server</li>
      </ul>

      <h2>📌Funcionalidade:</h2>
      <ul>
        <li>Criar, excluir Lista;</li>
        <li>Criar, alterar e excluir tarefa (CRUD);</li>
        <li>Concluir tarefa;</li>
        <li>Pesquisar tarefa;</li>
        <li>Responsivo.</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
