<form [formGroup]="form" novalidate fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field fxFlex class="mr1" appearance="outline">
        <mat-label>Insira uma Tarefa</mat-label>
        <input matInput formControlName="nomeTarefa" placeholder="Ex. ir ao mercado">
        <button matSuffix mat-icon-button color="primary" (click)="adicionarTarefa()"
            [disabled]="!form.valid || form.pristine">
            <mat-icon matSuffix>add</mat-icon>
        </button>
        <mat-error *ngIf="form.get('nomeTarefa').dirty">
            Insira pelo menos 3 caracteres
        </mat-error>
    </mat-form-field>
</form>

<mat-list *ngIf="tarefasLista, let tarefas" cdkDropList (cdkDropListDropped)="arrastarSoltarTarefa($event)">
    <mat-list-item *ngFor="let item of tarefas.tarefas" cdkDrag [class.mat-card-concluida]="item.concluido"
        fxLayout="column">
        <div fxFlex="70" fxLayoutAlign="start center">
            <mat-checkbox class="pr1 pl1" [(ngModel)]="item.concluido" (change)="concluirTarefa(item)" color="primary">
            </mat-checkbox>
            <span [class.tarefa-concluida]="item.concluido" (click)="alterarTarefaModal(item)">{{item.descricao}}</span>
        </div>
        <div fxFlex fxLayoutAlign="end center">
            <button mat-icon-button color="primary" (click)="alterarTarefaModal(item)">
                <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="removerTarefaModal(item)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-list-item>
</mat-list>

<!-- <ng-template #semTarefa>
        <div fxLayout="column" fxLayoutAlign="center center" class="mt2">
            <span class="mat-h2 bold">Ops, não existem tarefas.</span>
            <p>Que tal registrar uma nova tarefa?</p>
            <img src="../../../../assets/cat.png" alt="cat" width="50%" class="pt3">
        </div>
    </ng-template> -->
