<div fxLayout="row" fxLayoutAlign="center center">
  <mat-form-field fxFlex>
    <mat-label>Pesquisar</mat-label>
    <input matInput [(ngModel)]="pesquisa">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <mat-radio-group fxFlex name="opcao" (change)="filtrarEstadoTarefa($event)">
    <mat-radio-button class="pl1" value="todas" name="opcao" checked>
      Todas
    </mat-radio-button>
    <mat-radio-button class="pl1" value="concluidas" name="opcao">Concluidas
    </mat-radio-button>
    <mat-radio-button class="pl1" value="naoConcluidas" name="opcao">Não
      Concluidas
    </mat-radio-button>
  </mat-radio-group>

</div>
<app-tarefa *ngFor="let item of tarefasFiltro | mySearch:pesquisa" [tarefa]="item" class="container">
</app-tarefa>
