<mat-card class="mt2 pr0" fxLayout="row" fxLayoutAlign="space-between center"
  [class.mat-card-concluida]="tarefa.concluido">
  <div fxFlex>
    <mat-checkbox class="pr1 pl1" [(ngModel)]="tarefa.concluido" (change)="concluirTarefa(tarefa)"></mat-checkbox>
    <span [class.tarefa-concluida]="tarefa.concluido" (click)="alterarTarefa()">{{tarefa.descricao}}</span>
  </div>
  <div fxFlex="25">
    <button mat-icon-button color="primary" (click)="alterarTarefa()">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="removerTarefa()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
