<div class="body pb3">
    <div fxLayout="row wrap" fxLayoutAlign="start start">

        <mat-card *ngFor="let item of listas" class="scrollbar ml3 container mt4" id="style-1">
            <div fxLayout="row">
                <span class="aling-center" fxFlex="50" fxLayoutAlign="start center">
                    {{item.nome}} </span>
                <div fxFlex="50" fxLayoutAlign="end center">
                    <button matSuffix mat-icon-button color="primary" type="button" (click)="removerLista(item)">
                        <mat-icon matSuffix>delete_outline</mat-icon>
                    </button>
                </div>
            </div>
            <app-tarefa-container [lista]="item"></app-tarefa-container>
        </mat-card>

        <mat-card [formGroup]="form" class="ml3 novaLista mt4" (ngSubmit)="adiconarLista()">
            <mat-form-field fxFill>
                <mat-label>Nova lista</mat-label>
                <input matInput type="text" formControlName="nome">
                <mat-error *ngIf="form.get('nome').dirty">
                    Insira pelo menos 3 caracteres
                </mat-error>
            </mat-form-field>
            <button matSuffix mat-raised-button color="primary" [disabled]="!form.valid">
                Adicionar
            </button>
        </mat-card>

    </div>
</div>
