<div >
    <div class="body" fxLayout="row wrap" fxLayout.xs="column"
     fxLayoutAlign="start start" fxLayoutAlign.xs="center center"
     fxLayoutAlign.sm="center start" fxLayoutAlign.md="center start" >

        <mat-card *ngFor="let lista of listas" class="scrollbar ml4 container my3"
        [ngClass.xs]="{ 'ml4': false, 'scrollbar': false, 'scrollbar-mobile': true}" id="style-1">
            <div fxLayout="row">
                <span class="aling-center" fxFlex="80" fxLayoutAlign="start center">
                    {{lista.nome}} </span>
                <div fxFlex="20" fxLayoutAlign="end center">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item type="button" (click)="alterarLista(lista)">
                            <mat-icon matSuffix>create</mat-icon>Editar
                        </button>
                        <button mat-menu-item type="button" (click)="removerLista(lista)">
                            <mat-icon matSuffix>delete_outline</mat-icon>Deletar
                        </button>
                    </mat-menu>
                </div>
            </div>
            <app-tarefas [lista]="lista"></app-tarefas>
        </mat-card>

        <form [formGroup]="form" (ngSubmit)="adiconarLista()">
            <mat-card class="ml4 novaLista my3" [ngClass.xs]="{ 'ml4': false}">
                <mat-form-field fxFill>
                    <mat-label>Nova lista</mat-label>
                    <input matInput type="text" formControlName="nome">
                    <mat-error *ngIf="form.get('nome').dirty">
                        Insira pelo menos 3 caracteres
                    </mat-error>
                </mat-form-field>
                <button matSuffix mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                    Adicionar
                </button>
            </mat-card>
        </form>
    </div>
</div>
