.body {
    width: 100%;
    min-height: 80vh;
    max-height: 100%;
    background: rgb(133, 168, 255);
    background: linear-gradient(
        163deg,
        rgba(133, 168, 255, 0.9363095580028886) 26%,
        rgba(206, 127, 255, 0.8802871490393032) 100%
    );
}

.tarefa-concluida {
    font-style: italic;
    text-decoration: line-through;
}

