.login {
    height: 100vh;
    background: rgb(241, 95, 121);
    background: linear-gradient(163deg, rgba(241, 95, 121, 1) 29%, rgba(178, 69, 146, 1) 100%);
}

.mat-card {
    background-color: #f9f9f9;
}

.mat-raised-button.mat-primary {
    color: white;
    padding: 3px 60px;
}
