.login {
    min-height: 490px;
    max-height: 500px;
    background: rgb(241, 95, 121);
    background: linear-gradient(163deg, rgba(241, 95, 121, 1) 29%, rgba(178, 69, 146, 1) 100%);
}

.mat-card {
    background-color: #f9f9f9;
}
/*
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}

.text-login {
    color: white;
} */

.mat-raised-button.mat-primary {
    color: white;
    padding: 3px 60px;
}
